.tableContainer {
  max-width: 1000px;
  margin: 100px 0 100px 0;
}

.header {
  margin-bottom: 20px;
}

.button {
  margin-left: 20px;
}

.textField {
  margin-right: 20px;
}

.bottomContainer {
  margin-top: 20px;
  margin-bottom: 50px;
}
