.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  padding: 10px 25px;
  border: none;
  margin-right: 10px;
}

.button {
  margin-left: 10px;
}

.hint {
}
